<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Attendance Report</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Registration Number</th>
            <th>Time</th>
            <th>Confidence</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record['Name'] }}</td>
            <td>{{ record['Registration Number'] }}</td>
            <td>{{ record['Time'] }}</td>
            <td>{{ record['Confidence'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="button-group">
        <a href="{{ url_for('export_csv') }}"><button>Export as CSV</button></a>
        <a href="{{ url_for('export_pdf') }}"><button>Export as PDF</button></a>
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'92c7b0b83b141d7a',t:'MTc0NDAwOTY3MC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>